@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
#content {
    background-color:#FFF8F0;
    margin: 0 auto;
    max-width: 1600px;
    font-family: Roboto, sans-serif;
}
header {
    background-color: #283618;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo-link {
    padding-top: 5px;
    justify-self:center;
    align-self: center;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
    z-index: 1;
}
body {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
.home-title{
    font-family: 'Rock Salt', 'Bradley Hand',cursive;
    font-size: 2em;
    margin-top: 20px;
    color: beige;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.msg h2{
    font-family: 'Rock Salt', 'Bradley Hand',cursive;
    font-size: 2em;
    margin: 0;
   
}
.msg p{
    font-size: 1.2em;   
    padding-bottom: 15px;
    padding-top: 15px;
}
.msg {
    background-color: #8ecae6;
    color: #392F5A;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 50px;
  }

nav a {
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 12px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -0.1;
}
#hero-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
#hero-msg {
    text-align: center;
    color: #023047;
    padding: 30px;
    grid-column: 2;
    grid-row: 1; 
    margin-top: 100px;
}
#hero-msg h4{
    color: white;
    font-size: 23px;
}
.button-box{
    text-align: center;
}
main {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
.card-img,.mountains {
    width: 100%;
    height:100%
}

.rivers-card{
    grid-template-columns: 2/4 ;
    grid-template-rows: 2;
} 
.camping-card {
    grid-template-columns: 5/7 ;
    grid-template-rows: 2;
} 
.rapids-card {
    grid-template-columns: 8/10 ;
    grid-template-rows: 2; 
}
 
    
#background {
    height: 725px;
    margin: 20px auto;
    background-color: #8ecae6;
    grid-template-columns: 1/11;
    grid-template-rows: 4/9;
}
.mountains {
    display: block;
    margin-left: 0%;
    margin-top: 50px;
    grid-template-columns: 2/7;
    grid-template-rows: 5/8;
}
.msg {
    grid-template-columns: 6/10;
    grid-template-rows: 6;
}
.card-img,.mountains {
    width: 100%;
    height:100%
}
body {
    background-color: #fcfbfb;
}

nav a:hover{
    background-color: #FFF8F0;
    color: #392F5A;
}
.book,.join{
    background-color: #F4D06F;
    color: #023047;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 10px;
}
.card-img {
    border: 10px solid bisque;
}
.book:hover,.join:hover {
    background-color: #8ecae6;
    color:#392F5A
}
main section image {
    box-sizing: border-box;
}
footer {
    background-color: #8ecae6;
    color: #392F5A;
    padding: 15px 20px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer a{
    background-color: #F4D06F;
    color: #392F5A; 
    text-decoration: none;
}
footer a:hover{
    background-color: white;
    color: #392F5A;
    
}
.logo, .icon {
    width: 80px;
    padding-top: 10px;
}
footer p{
    font-size: 1.2em;
}