#content {
    margin: 0 auto;
    max-width: 1600px;
}
nav a {
    text-align: center;
    background-color: #8ecae6;
    color: #023047;
    text-decoration: none;
}
#hero-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    background-color:#8ecae6 ;
    color: #023047;
}
.button-box{
    text-align: center;
}
main {
    text-align: center;
}
.mountains {
    display: block;
    margin-left: 0%;
}
#background {
    height: 725px;
    margin: 20px auto;
    background-color: #8ecae6;
}
body {
    background-color: #fcfbfb;
}
header {
    background-color: #8ecae6;
}
nav a:hover{
    background-color: #FFF8F0;
    color: #392F5A;
}
.book,.join{
    background-color: #F4D06F;
    color: #023047;
    text-decoration: none;
    font-size: 1.2em;
}
.book:hover,.join:hover {
    background-color: #8ecae6;
    color:#392F5A
}

.msg h2, .msg p {
    background-color: #8ecae6;
    color: #392F5A;
}
footer {
    background-color: #8ecae6;
    color: #392F5A;
}
footer a{
    background-color: #F4D06F;
    color: #392F5A; 
    text-decoration: none;
}
footer a:hover{
    background-color: white;
    color: #392F5A;
    
}
.logo, .icon {
    width: 80px;
}
footer p{
    font-size: 1.2em;
}