@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto&family=Rock+Salt&display=swap');
#content {
    background-color:#BBD0FF;
    margin:0 auto;
    max-width: 1600px;
    font-family:'Edu TAS Beginner', cursive;
}
header {
    background-color: hsl(233, 100%, 86%) ;
    display: grid;
    grid-template-columns: 180px auto;
}
#logo-link {
    padding-top: 5px;
    justify-self:center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
nav a {
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 12px;
    text-decoration: none;
}
/* hoempage */
#hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#hero-box{
    grid-area: 1 / 2 /span 2/ span 1;
}
#hero-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
#hero-msg {
    justify-self: cenetr;
    align-self: center;
    font-family: 'Rock Salt', 'Bradley Hand',cursive;
    font-size: 2em;
    margin-top: 20px;
    color: #6930c3;  
}

.button1, .button2, .button3 {
    font-size: 20px;
    padding: 12px 28px;
    display: inline-block;
    border: 2px solid #04AA6D;
}
#story-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

div.polaroid1 {
    grid-area: 1 / 1 /span 1 / span 1;  
}
div.polaroid2 {
    grid-area: 2 / 1 /span 1 / span 1;
}

#story-card h3 {
    text-align: center;
    padding: 5px 10px;
    background-color: white;
    margin-top: -15px;
}

#story-card p {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 80%;
    margin-left: 40px;
    font-size: 1.7em;
}

#reason-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#reason-card h2 {
    grid-area: 1 / 1 /span 1 / span 2;
    font-size: 1.5em;
}
.img3 {
    grid-area: 2 / 1 /span 1 / span 1;
}
.img4 {
    grid-area: 2 / 2 /span 1 / span 1;
}
#reason-card h4 {
    grid-area: 3 / 1 /span 1 / span 2;
    font-size: 1.5em;
}

#blog-card {
    background-color: #BBD0FF;
    padding: 50px 40px;
    text-align: center;
}
.button-box {
    display: flex;
    justify-content: space-evenly;
    font-size: 3em;
}

/* page 1*/
.background {
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand',cursive;
    padding: 100px;
}

.topnav {
    overflow: hidden;
    background-color: #BBD0FF;
    margin-bottom: 50px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color:#C8B6FF ;
    color: black;
  }
  
  .topnav a.active {
    background-color:#C8B6FF  ;
    color: black;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 30px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .card-img {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
  }

  .icon {
    display: block;
    margin: 0 auto;
    width: 30%;
    justify-self: cenetr;
  }

  .home-grid h2 {
    text-align: center;
  }

  
  @media screen and (max-width: 900px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

footer {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



