main.home-grid {
    max-width: 1600px;}
    .banner {
    width: 100%;
    margin-bottom: -5px;
 }
.smaller {
width: 76.25%;
background-color: grey;
}
    
.smaller img {
width: 20%;
border-radius: 50%;
background-color: grey;
border: black .5em solid;
margin: 70px;

}