* {
    border: 2px solid blue;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center; 
    font-size: 40px; 
    background-color: aliceblue;  
}

header,footer {
    background-color: steelblue;
    color: white;
    padding: 20px;
   
}
nav { 
    padding: 10px;
    background-color: orange;
}
nav a {
    font-size: o.5em;
    color: white;
    text-align: center;
    padding: 5px;

}
img {
    width: 60%;
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
    color:orange;
    margin: 0 auto;
    text-align: center;
    border-style: solid;
}


#active {
    background-color: white;
    color: orangered;
}


h1 {
    margin: 50px auto ;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

footer p{
    font-size: 30px;
    margin:  auto;
    text-align: center;
    background-color: orange;
    padding: 20px;
   
}
nav a:hover {
    color:orangered;
}


